@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 62.5%;
}

body {
  background-color: #FFFFFF;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input[type="checkbox"]:checked:disabled {
  position: relative;
}

input[type="checkbox"]:checked:disabled::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(36, 36, 194); 
  z-index: 1;
  pointer-events: none;
}

#secondaryImages::-webkit-scrollbar {
  display: none;
}

#secondaryImages{
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.btwWizard {
  width: 20rem;
  height: 3.5rem;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  line-height: 100%;
  border: 2px solid black;
  border-radius: 3px;

}

.btwWizard:hover{
  color: #fff;
  background-color: #E4002B;
  border: none;
}

tr td:first-child{
  padding-right: 30px;
}
tr td{
  padding-bottom: 5px;
}